{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>White board</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <canvas class="whiteboard" width="1000" height="600"></canvas>
        <div class="colors">
            <div class="color black"></div>
            <div class="color red"></div>
            <div class="color green"></div>
            <div class="color blue"></div>
            <div class="color yellow"></div>
            <div>
                <button class="btn btn-primary" id="erase">Erase</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
<script>
    const roomName = "boardroom";

    const ws = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/board/'
        + roomName
        + '/'
    );

    ws.onopen = function () {
        // do something while opening
    };

    ws.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.event === "erase") {
            erase();
        } else {
            onDrawingEvent(JSON.parse(e.data));
        }
    };

    ws.onerror = function (evt) {
        console.log("ERR: " + evt.data);
    };

    ws.onclose = function (e) {
        console.error('Websocket closed unexpectedly');
    };

    {% comment %}setTimeout(() => {
        ws.send(JSON.stringify({
            'text': "Hello world"
        }));
    }, 1000);{% endcomment %}
</script>
<script src="{% static 'js/draw.js' %}"></script>

</body>
</html>